# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Virtual Environment
# ===============================
venv/
env/

# ===============================
# Datasets (large files)
# ===============================
model/dataset/

# ===============================
# Trained models & artifacts
# ===============================
*.pkl
server/artifacts/

# ===============================
# OpenCV local folders
# ===============================
opencv/

# ===============================
# OS & Editor files
# ===============================
.DS_Store
Thumbs.db
.vscode/

# ===============================
# Logs
# ===============================
*.log
